.PrendreRdvPage-page {
    position: relative;
    top: 135px;
    height: 981px;
    background-color: antiquewhite;

    .calendar-container {
        position: relative;
        top: 200px;
    }

    .footerContentTherapieCustom {
        position: absolute;
        top: 2519px;
        
    }
    
    
}